.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {

  background: black url('img/bg-blue.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {

  font-size: 100px;
  background-image: linear-gradient(90deg, red, yellow);
  background-clip: text;
  color: transparent;

}

input {

  width: 55%;
  padding: 7px;
  margin: 8px 0;
  background-color: lightblue;
  color: black;
  position: sticky;
  font-size: 22px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
